@media screen and (min-width: 320px) and (min-device-width: 320px) and (max-device-width: 480px) {
  #app {
    width: 100%;
  }

  #posits { 
    text-align: left;
    padding-left: 10px;
  }

  #message-input {
    padding: 5px 5px;
  }

  #input {
    width: 73%;
    padding-left: 10px;
  }

  .button {
    width: 20%;
  }
}

@media screen and (min-width: 465px) and (max-width: 499px) and (min-device-width: 465px) and (max-device-width: 499px)  {
  #app {
    width: 100%;
  }

  #posits { 
    text-align: center;
  }

  #message-input {
    padding: 5px 5px;
  }

  #input {
    width: 75%;
    padding-left: 10px;
  }

  .button {
    width: 20%;
  }
}

@media screen and (min-width: 500px) {
  #app {
    width: 560px;
  }

  #message-input {
    padding: 5px 5px;
  }

  #posits { 
    padding-left: 5px;
    text-align: center;
  }

  #input {
    width: 75%;
    padding-left: 10px;
  }

  .button {
    width: 20%;
  }
}

body{
  background-image: url('../img/Color-nightlife.jpg');
}

#app {
  margin: 10% auto;
  border: 12px inset rgba(255,255,255,.2); 
  border-radius: 15px;
  background-color: rgba(0,0,0,.8);
  position: relative;
}

/* title-and-name nav */

#title-and-name {
  background-color: black;
  color: #D31996;
  height: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255,255,255, .2);
}

#title-and-name div {

}

#app-title{
  position: absolute;
  top: 7px;
  left: 12px;
  font-size: 1.6em;
}

.littles {
  font-size: .6em;
  color: white;
}


#controls {
  position: absolute;
  padding-le
  top: 10px;
  right: 10px;
  text-align: right;
  border-left: 1px solid white
}

#controls a {
  text-decoration: none;
  color: white;
}

#controls a:hover {
  color: green;
}


/* ideabox section */


#ideabox {
  height: 240px;
  overflow: scroll;
  padding: 5px;
}


.idea {
  width: 80%;
  border: 2px outset #9BF0E9;
  margin: 0 auto;
  margin-bottom: 10px;
}

.idea div { 
  padding: 6px; 
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
}

.idea div:hover {
  background-color: #19DD89;
}

.voted-true {
  margin: 0 auto;
  background-color: #19DD89;
}

.voted-false {
  margin: 0 auto;
  background-color: #708D91;
}

.unanimous {

}


/* divider section */


#divider { 
  height: 65px;
  background-color: black;
  text-align: center;
  border-top: 1px solid rgba(255,255,255, .2);
  border-bottom: 1px solid rgba(255,255,255, .2);
  position: relative;
}

.room-name {
  color: #D31996;
  font-size: 1.2em;
}

#posits { 
  color: #19DD89;
  padding-top: 4px;
}

#namebox { 
  
  color: #D31996;
  position: absolute;
  right: 5px;
  top: 0px;
  border-left: 1px solid white;
  padding-left: 10px;
  height: 100%;
}

#namebox-input {
  margin-top: 5px;
}

#name-input {
  font-size: .7em;
  border-radius: 4px;
}

#namebox-static { 
  margin-top: 5px; 
  color: white;
}

#namebox-static span { 
  font-size: 1.1em;
  color: #D31996;
}





/* messagebox section */


#messagebox {
  height: 240px;
  overflow: scroll;
  padding: 5px;
  color: #222;
}

.message {
  width: 97%;
  background-color:  rgba(155, 240, 233, .3);
  font-family: Georgia, serif;
  padding: 6px;
  border: 2px outset #777;
  margin-bottom: 2px;
  cursor: pointer;
}

.message-content {
   color: white;
}

.message:hover {
  font-size: 1.1em;
  color: #19DD89;
}

.message:hover .message-content{
  color: #19DD89;
}








/* message-input section */

#message-input {
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid rgba(255,255,255, .2); 
}

#input {
  height: 50px;
  font-size: 1.2em;
  border-bottom-left-radius: 15px;
}

.button {
  float: right;
}

.button input {
  font-size: 1.2em;
  height: 55px;
  width: 100%;
  background-color: #9BF0E9;
  border-bottom-right-radius: 15px;
}

.button input:hover {
  background-color: #ED146F; 
}

/* NEW ROOM View */

.create-room { 
  padding-left: 20px;
}

.create-room label { 
  color: white;
  cursor: pointer;
}

.all-rooms {
  color: white;
}

.all-rooms a {
  color: white;
}

.all-rooms a:hover {
  color: green;
}
