@media screen and (min-width: 320px) and (max-device-width: 419px) {
  #app {
    width: 320px;
  }
  #message-input {
    padding: 5px 5px;
  }

  #input {
    width: 75px;
    padding-left: 10px;
  }

  .button {
    width: 10%;
  }
}

@media screen and (min-width: 420px) and (max-device-width: 480px) {
  #app {
    width: 480px;
  }
  #app {
    width: 560px;
  }
  #message-input {
    padding: 5px 5px;
  }

  #input {
    width: 75%;
    padding-left: 10px;
  }

  .button {
    width: 20%;
  }
}

@media screen and (min-width: 481px) {
  #app {
    width: 560px;
  }
  #message-input {
    padding: 5px 5px;
  }

  #input {
    width: 75%;
    padding-left: 10px;
  }

  .button {
    width: 20%;
  }
}

body{
  background-image: url('../img/bg-nightlife.jpg');
}

#app {
  margin: 10% auto;
  border: 12px inset rgba(255,255,255,.2); 
  border-radius: 15px;
  background-color: rgba(0,0,0,.8);
  position: relative;
}

/* title-and-name nav */

#title-and-name {
  background-color: black;
  color: #D31996;
  height: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255,255,255, .2);
}

#title-and-name div {
  width: 27%;
}

#app-title{
  position: absolute;
  top: 7px;
  left: 12px;
  font-size: 1.4em;
}

.littles {
  font-size: .4em;
  color: white;
}


#controls {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

#controls a {
  text-decoration: none;
  color: white;
}

#controls a:hover {
  color: green;
}


/* ideabox section */


#ideabox {
  height: 250px;
  overflow: scroll;
}

#ideabox ul {
  list-style: none;
}

.idea {
  width: 80%;
  margin-bottom: 20px;
}

.idea div { 
  padding: 6px; 
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
}

.idea div:hover {
  background-color: #19DD89;
}

.voted-true {
  width: 50%;
  margin: 0 auto;
  background-color: #19DD89;
}

.voted-false {
  width: 50%;
  margin: 0 auto;
  background-color: #708D91;
}

.unanimous {

}


/* divider section */


#divider { 
  height: 65px;
  background-color: black;
  text-align: center;
  border-top: 1px solid rgba(255,255,255, .2);
  border-bottom: 1px solid rgba(255,255,255, .2);
  position: relative;
}

.room-name {
  color: #D31996;
  font-size: 1.2em;
}

#posits { 
  color: #19DD89;
  padding-top: 4px;
}

#namebox { 
  text-align: center;
  color: #D31996;
  position: absolute;
  right: 5px;
  top: 0px;
  border-left: 1px solid white;
  padding-left: 10px;
  height: 100%;
}
#namebox-input {
  margin-top: 5px;
}

#name-input {
  font-size: .7em;
  border-radius: 4px;
}

#namebox-static { 
  margin-top: 5px; 
  color: white;
}

#namebox-static span { 
  font-size: 1.1em;
  color: #D31996;
}





/* messagebox section */


#messagebox {
  height: 250px;
  overflow: scroll;
  color: white;
}

#messagebox ul {
  list-style: none;
}

.message {
  width: 80%;
  margin-bottom: 20px;
}

.message-content {
  background-color: #ccc;
  border-radius: 7px;
  padding: 6px;
  cursor: pointer;
  color: black;
}

.even-true {
  text-align: right;
}

.even-false {
  text-align: left;
}

.even-false .message-content {
  background-color: #999;
}

.message-content:hover {
  background-color: #708D91;  
}


/* message-input section */

#message-input {
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid rgba(255,255,255, .2); 
}

#input {
  height: 50px;
  font-size: 1.2em;
  border-bottom-left-radius: 15px;
}

.button {
  float: right;
}

.button input {
  font-size: 1.2em;
  height: 55px;
  width: 100%;
  background-color: #9BF0E9;
  border-bottom-right-radius: 15px;
}

.button input:hover {
  background-color: #ED146F; 
}

/* NEW ROOM View */

.create-room { 
  padding-left: 20px;
}

.create-room label { 
  color: white;
  cursor: pointer;
}

.all-rooms {
  color: white;
}

.all-rooms a {
  color: white;
}

.all-rooms a:hover {
  color: green;
}
