<div id='app'>
  <nav id='title-and-name'>
    <div id='app-title'>
      <span>D<span class='littles'>oo </span>2<span class='littles'> </span> N<span class='littles'>ite</span></span>
    </div> <!-- end app-title -->
    <div id='controls' >Controls</div>
  </nav><!-- end title-and-name nav -->
  <section id='roombox'>
    <div class='create-room'>
      <label for='room-name'>Create Room</label>
      <input type='text' id='room-name' placeholder='...room name' data-ng-model='roomName'/>
      <a href='' data-ng-click="newRoom()">Create Room</a>
    </div>
    <ul class='all-rooms'>
      <li  data-ng-repeat="roomObjects in rooms">
        <div id='room-{{$index}}'><a href='http://localhost:8000/#/{{roomObjects.$id}}'>
          <text ng-repeat="object in roomObjects.room"> {{object.roomName}}</text>
        </a></div>
      </li>
    </ul>
  </section> <!-- end roombox section -->

</div> <!-- end ChatRoomCtrl -->
