.box {
  border: 2px solid black;
  margin: 0 auto;
  width: 50%;
}

#ideabox {
  height: 200px;
  overflow: scroll;

}

#ideabox ul {
  list-style: none;
}

.idea {
  width: 80%;
  margin-bottom: 20px;
}

.idea div { 

  border-radius: 7px;
  padding: 6px; 
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
}

.idea div:hover {
  background-color: #666;
}

.voted-true {
  width: 50%;
  margin: 0 auto;
  background-color: #339933;
}

.voted-false {
  width: 50%;
  margin: 0 auto;
  background-color: #ccc;
}

.unanimous {

}

#divider { 
  height: 70px;
  background-color: black;
  color: white;
  text-align: center;
}

.app-title{
  font-size: 1.5em;
}

#namebox { 
  padding: 10px 0;
  font-size: 1.2em;
}

#namebox label { 
  padding-left: 20px;
}

#messagebox {
  height: 200px;
  overflow: scroll;
}

#messagebox ul {
  list-style: none;
}

.message {
  width: 80%;
  margin-bottom: 20px;
}

.message span {
  background-color: #ccc;
  border-radius: 7px;
  padding: 6px;
  cursor: pointer;
}

.message span:hover {
  background-color: #eee
}

.even-true{
  text-align: right;
}

.even-false{
  text-align: left;
}

.even-false span {
  background-color: #999;
}

#input {
  width: 75%;
  height: 50px;
  font-size: 1.5em;
  padding-left: 15px;
}






/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
