body{
  background-image: url('../img/bg-nightlife.jpg');
}

#app {
  margin: 10% auto;
  width: 50%;
  border: 4px solid white; 
  border-radius: 15px;
  background-color: rgba(0,0,0,.8);
  padding-bottom: 20px;
  box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.25);
}

/* title-and-name nav */

#title-and-name {
  background-color: black;
  color: #D31996;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 20px;
}

#title-and-name div {
  float: left;
}

#app-title{
  font-size: 1.5em;
}

#namebox { 
  padding: 0 0;
  font-size: 1.2em;
  float: right;
}


#name-input {
  font-size: 1em;
  border-radius: 6px;
  
}



/* ideabox section */


#ideabox {
  height: 200px;
  overflow: scroll;
}

#ideabox ul {
  list-style: none;
}

.idea {
  width: 80%;
  margin-bottom: 20px;
}

.idea div { 
  border-radius: 7px;
  padding: 6px; 
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
}

.idea div:hover {
  background-color: #19DD89;
}

.voted-true {
  width: 50%;
  margin: 0 auto;
  background-color: #19DD89;
}

.voted-false {
  width: 50%;
  margin: 0 auto;
  background-color: #708D91;
}

.unanimous {

}


/* divider section */


#divider { 
  height: 70px;
  background-color: black;
  text-align: center;
}


#posits { 
  color: #19DD89;
  padding-top: 4px;
}


/* messagebox section */


#messagebox {
  height: 200px;
  overflow: scroll;
  color: black;
}

#messagebox ul {
  list-style: none;
}

.message {
  width: 80%;
  margin-bottom: 20px;
}

.message span {
  background-color: #ccc;
  border-radius: 7px;
  padding: 6px;
  cursor: pointer;
}

.message span:hover {
  background-color: #708D91;  
}

.even-true {
  text-align: right;
}

.even-false {
  text-align: left;
}

.even-false span {
  background-color: #999;
}


/* message-input section */

#message-input {
  background-color: black;
}

#input {
  width: 75%;
  height: 50px;
  font-size: 1.5em;
  padding-left: 15px;
}







/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
