<!doctype html>
<html lang="en" data-ng-app="doo2nite">
<head>
  <meta charset="utf-8">
  <title>Doo2Nite</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <h1>Doo2Nite</h1>

  <div data-ng-controller='ChatRoomCtrl'>
    <div id='ideabox' class='box' >
      <ul>
        <li class='idea' data-ng-repeat="idea in ideas" | orderBy: 'idea.voted.length'>
          <div id='idea-{{$index}}' class='voted-{{idea.votedon}}' data-ng-click='voteup($index)'>{{idea.text}}</div>
        </li>
      </ul>
    </div>
    <div id='divider' class='box'>
      <span>ideas</span><br>
      <span class='app-title'>Doo2Nite</span><br>
      <span>suggestions</span>
    </div>
    <div id='namebox' class='box'>
      <label for="">Your name: </label><input id="name" type="text" ng-model="username">
    </div>
    <div id='messagebox' class='box'>
      <ul>
        <li data-ng-repeat="message in messages" class='message even-{{$even}}'>
          <em>{{message.sender}}</em> - <span data-ng-click='promote()'>{{message.text}}</span>
        </li>
      </ul>
    </div>
    <form data-ng-submit="addMessage()">
      <div class='box'>
        <input type='text' id='input' data-ng-model='messageText' placeholder='...type message here'/>
        <input type="submit" value="Send">
      </div>
    </form>

  </div> <!-- end ChatRoomCtrl -->





  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

</body>
</html>
